{% extends 'base.html.twig' %}

{% block hero %}

{% endblock %}

{% block account_nav %}
    {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
        <div class="container">
            <div class="row" style="padding: 10px 0;">
                <div class="col-md-12" id="account-nav">
                    <p>
                        Hello, {{ app.user.firstName }}. &nbsp;&nbsp;
                        <a href="{{ path('fos_user_profile_show') }}" style="padding: 0 10px">My account</a>
                        <a href="{{ path('fos_user_security_logout') }}" style="padding: 0 10px">Log out</a>

                        {% if is_granted("ROLE_ADMIN") %}
                            <a href="{{ path('admin_libraries') }}" style="padding: 0 10px">Admin</a>
                        {% endif %}

                        <span class="pull-right">
                    {% if app.user.org %}
                        Organisation: <strong>{{ app.user.org.name }}</strong>
                    {% else %}
                        {% if app.request.attributes.get('_route') != 'org' %}
                        <a href="{{ path('org') }}" class="btn btn-xs btn-success">Add organisation</a>
                        {% endif %}
                    {% endif %}
                </span>
                    </p>
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}

{% block body %}{% endblock %}

{% block pagescripts %}{% endblock %}