{% extends 'directory.html.twig' %}

{% block h1 %}Contact us{% endblock %}

{% block hero %}
    <section id="feature-heading">
        <div class="container">
            <h2>Contact us</h2>
        </div>
    </section>
{% endblock %}

{% block body %}
    <section id="contact">
        <div class="container">

            <div class="row">

                    <div class="contact-form">

                        {{ form_start(form) }}
                        {{ form_errors(form) }}
                        {% if help is defined %}
                            <span class="help">{{ help }}</span>
                        {% endif %}

                        <div class="col-md-6">
                            {{ form_widget(form.name) }}
                        </div>
                        <div class="col-md-6">
                            {{ form_widget(form.email) }}
                        </div>
                        <div class="col-md-12">
                            {{ form_widget(form.subject) }}
                        </div>
                        <div class="col-md-12">
                            {{ form_widget(form.message) }}
                        </div>
                        <div class="col-md-8">
                            <input type="submit" class="btn btn-success form-control text-uppercase" value="Send">
                        </div>

                        {{ form_end(form) }}
                    </div>

                <div class="col-md-6">
                    <p>
                        Send us an email and we'll get back to you as soon as we can!
                    </p>
                </div>
            </div>
        </div>
    </section>

    <br><br>

{% endblock %}
