{% extends 'directory/admin.html.twig' %}

{% block title %}A directory of lending organisations{% endblock %}

{% block head %}{% endblock %}

{% block body %}
        <div style="padding: 20px">
            <div class="row">
                <div class="col-md-12">

                    {{ form_start(form) }}
                    {{ form_errors(form) }}

                    {% if help is defined %}
                        <span class="help">{{ help }}</span>
                    {% endif %}

                    {{ form_row(form.csv_data) }}

                    <input type="submit" class="btn btn-success" value="Import">

                    {{ form_end(form) }}

                </div>
            </div>
        </div>
{% endblock %}
